.playable-game {
  display: flex;
  flex-direction: column;
  width: 35rem;
  margin-inline: auto;
}

.playable-game p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.new-problem {
  min-height: 1.25rem;
  font-size: 2rem;
}

.written-problem {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-inline: auto;
  height: 6rem;
}

input[type="text"] {
  background: #0000001a;
  text-align: center;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid #d1d0c520;
  box-shadow: inset 8px 8px 20px -10px #00000020;
  outline: none;
  color: #d1d0c5;
  margin-left: 0.6rem;
  padding: 5px 0;
  font: normal 2.4rem KaTeX_Main, 'Times New Roman', serif;
  caret-color: transparent;
  width: 3ch;
}

.progress-bar {
  margin-top: 1rem;
}

.inactivity-directions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 1.5rem;
}

.animate {
  animation: fadeIn 750ms 1;
}

::ng-deep .mdc-linear-progress__bar {
  transition: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}