<form class="playable-game">
  <div class="written-problem">
    <ngx-katex *ngIf="(expression$ | async) as expression" class="new-problem"
      [equation]="(expression.equation) + '='"></ngx-katex>
    <input #solution [formControl]="userInput" type="text" maxlength="3">
  </div>
  <small>Press <code>enter</code> to submit</small>
  <small>Press <code>space</code> to skip</small>
  <p>Questions Correct: {{ (mathService.gameResults() | async)?.correct }}</p>
  <p>Question {{ questionsCompleted$ | async }} of 10</p>
  <div class="progress-bar">
    <mat-progress-bar *ngIf="progressTimer$ | async as time" color="primary" [value]="time / 10"></mat-progress-bar>
  </div>
</form>