.playable-game {
  display: flex;
  flex-direction: column;
  width: 35rem;
}

.playable-game p {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.new-problem {
  min-height: 1.25rem;
  font-size: 2rem;
}

.written-problem {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  background: none;
  border: none;
  outline: none;
  color: #d1d0c5;
  margin-left: 0.6rem;
  padding: 0;
  font: normal 2.4rem KaTeX_Main, 'Times New Roman', serif;
  caret-color: transparent;
  width: 3ch;
}

.progress-bar {
  margin-top: 1rem;
}

.directions-reminder {
  display: flex;
  margin-top: 0.5rem;
  justify-content: space-around;
  animation: fadeIn 750ms 1;
}

::ng-deep .mdc-linear-progress__bar {
  transition: none !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}