<h2 class="game-display-subtitle">Settings</h2>
<form class="configuration-form" (ngSubmit)="onSubmit(configuration)" #configuration="ngForm">
  <!-- <label for="difficulty">Choose your difficulty</label> -->
  <mat-radio-group class="difficulty-options">
    <mat-radio-button class="difficulty-selection" *ngFor="let diff of difficulty" [value]="diff.toLowerCase()"
      (change)="getDifficulty(diff)">
      {{ diff }}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="accent" [disabled]="!selectedDifficulty || !(user.getUser() | async)">Start</button>
</form>
<div class="directions">
  <p class="directions-header">Directions</p>
  <p class="directions-block">Select how difficult you would like the game to be, and click <em>Start</em> to begin. You
    will be presented with ten mental math problems and will be given ten seconds each to solve them. Your
    final score is determined based on the total number of questions answered correctly, and how quickly you answered
    them.
  </p>
</div>
<p *ngIf="!(user.getUser() | async)">The server is still loading, which can take up to 45 seconds. Please wait.</p>