.subtitle {
  font-size: 1.1rem;
  font-weight: 300;
  text-align: center;
  margin: 0 0 1.5rem;
}

.configuration-form {
  display: flex;
  flex-direction: column;
}

.difficulty-options {
  display: flex;
  justify-content: space-evenly;
}

.directions {
  margin-top: 1.5rem;
}

.directions-header {
  font-size: 1rem;
  margin: 0 0 0.3rem;
  font-style: italic;
  text-align: center;
}

.directions-block,
.directions-block>* {
  font-size: 0.9rem;
  margin: 0;
}

::ng-deep .difficulty-selection * {
  color: var(--text-color) !important;
}

::ng-deep .mdc-radio__outer-circle {
  border-color: var(--text-color) !important;
}