<form class="configuration-form" (ngSubmit)="onSubmit(configuration)" #configuration="ngForm">
  <label for="difficulty">Choose your difficulty</label>
  <mat-radio-group>
    <mat-radio-button class="difficulty-selection" *ngFor="let diff of difficulty" [value]="diff.toLowerCase()"
      (change)="getDifficulty(diff)">
      {{ diff }}
    </mat-radio-button>
  </mat-radio-group>
  <button mat-raised-button color="accent" [disabled]="!selectedDifficulty || !(user.getUser() | async)">Start</button>
</form>
<p *ngIf="!(user.getUser() | async)">The server is still loading, which can take up to 45 seconds. Please wait.</p>