:root {
  --text-color: #d1d0c5;
}

* {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  font-weight: 300;
  background-color: #2a2a2e;
  color: var(--text-color);
}

html,
body {
  height: 100%;
}