.container {
  display: flex;
  height: 100vh;
  flex-direction: row;
}

.container .cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 800px;
  margin-left: 5%;
}

.container .cta main {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.container .cta main img {
  display: block;
  height: 150px;
  margin-right: 30px;
}

.container .cta .cta-title {
  font-family: 'Boogaloo', sans-serif;
  font-weight: 300;
  font-size: calc(1vw + 2rem + 8vmin);
  margin: 0 0 1rem;
  white-space: nowrap;
}

.container .cta section {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.container .cta section p {
  margin-top: -5px;
  font-size: 1.1rem;
}

.container .cta section button {
  font-size: 1rem;
}

.container .decorative-math-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container .decorative-math {
  display: flex;
  transform: rotate(-5deg);
  overflow: clip;
  justify-content: center;
}

.container .static-equation {
  display: flex;
}

.container .static-equation .blinking-cursor {
  height: 112px;
  width: 5px;
  margin: auto;
  margin-top: 50px;
  margin-left: 25px;
  background-color: var(--text-color);
  border-radius: 2px;
  transform: skew(-2deg);
  animation: cursor-animation 600ms cubic-bezier(0.92, 0, 0.08, 1) infinite alternate;
  animation-delay: 2000ms;
  opacity: 0;
}

@keyframes cursor-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.container .operator,
.container .op-left,
.container .op-right,
.container .equals {
  font-size: 5vw;
  font-family: 'Over the Rainbow', cursive;
  text-shadow: 2px 5px 6px #33333377;
  text-align: center;
  /* min-width: 50px; */
  /* width: 100px; */
  padding: 1vw;
  font-stretch: 200%;
  opacity: 0;
  overflow: clip;
  animation: delayStart 1500ms cubic-bezier(0.87, 0, 0.13, 1) 235ms 1 forwards;
}


.container .op-left {
  animation-delay: 320ms;
}

.container .op-right {
  animation-delay: 500ms;
}

.container .operator {
  animation-delay: 845ms;
}

.container .equals {
  animation-delay: 1050ms;
}

@keyframes delayStart {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.decorative-blob {
  position: fixed;
  left: clamp(35%, 37%, 40%);
  top: -1200px;
  width: 2300px;
  z-index: -1;
}

.no-support {
  padding: 25px 0;
  color: #d07474;
}

@media only screen and (max-width: 1150px) {
  .decorative-blob {
    left: -600px;
    top: 35%;
  }

  .container {
    flex-direction: column;
  }

  .container .cta {
    min-width: 350px;
    width: 80%;
    margin: 0 auto;
    padding: 3%;
    height: 40%;
  }

  .container .cta main img {
    height: 15vw;
    max-height: 100px;
    margin-right: 10px;
  }

  .container .cta .cta-title {
    font-size: calc(1vw + 1.5rem + 5vmin);
  }

  .container .cta section p {
    margin-top: 0px;
    font-size: 1rem;
    text-align: center;
  }

  .container .decorative-math-container {
    width: auto;
    align-items: start;
    min-width: 0;
  }

  .container .decorative-math {
    margin-top: 0;
  }

  .container .operator,
  .container .op-left,
  .container .op-right,
  .container .equals {
    font-size: 3rem;
    min-width: 50px;
  }

  .container .static-equation .blinking-cursor {
    height: 60px;
    margin: auto;
    margin-top: 20px;
    margin-left: 25px;
  }
}